@model IEnumerable<Slider>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Sliders</h3>
                    <div class="col-sm-12 d-flex justify-content-end">
                        <a class="btn btn-success" asp-action="Create">Create Slider</a>
                    </div>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">№</th>
                                <th scope="col" class="sort" data-sort="budget">Image</th>
                                <th scope="col" class="sort" data-sort="budget">Title</th>
                                <th scope="col" class="sort" data-sort="budget">Description</th>
                                <th scope="col" class="sort" data-sort="status">Setting</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (var slider in Model)
                            {
                                <tr>
                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            <span class="status text-black">@count</span>
                                        </span>
                                    </td>
                                    <td>
                                        <img style="height:100px" src="~/assets/img/@slider.ImageURL" alt="" />
                                    </td>
                                    <td>
                                        @slider.Title
                                    </td>
                                    <td>
                                        @slider.Description
                                    </td>
                                    <td>
                                        <form>
                                            <button class="btn btn-primary" asp-action="Details" asp-route-id="@slider.Id">
                                                <i class="bi bi-eye"></i>
                                            </button>
                                        </form>
                                        <form>
                                            <button class="btn btn-warning" asp-action="Update" asp-route-id="@slider.Id">
                                                <i class="bi bi-tools"></i>
                                            </button>
                                        </form>
                                        <form>
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal_@slider.Id">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                    <div class="modal fade" id="exampleModal_@slider.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4>Do you want delete?</h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h2>@slider.Title</h2>
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="post" asp-action="Delete" asp-route-id="@slider.Id">
                                                        <button type="submit" class="btn btn-danger"> Delete </button>
                                                    </form>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
